{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
    <h1 class="mdc-typography--headline5">Квартиры в Беларуси</h1>

    {% if flats %}
        {% for el in flats %}
        <div class="alert alert-warning mt-2">
            <h3>{{ el.title }}</h3>
            <p>{{ el.flat }}</p>
            <img src="{{ el.image}}" alt="connect" style="max-height:300px">
        </div>
        {% endfor %}
    {% else %}
        <p>У нас нет записей</p>
    {% endif %}
{% endblock %}


